*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.poppins-regular {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
  }
   /* Responsive layout */
   .hamburger-menu-mobile, .hamburger-menu-medium {
    display: none; 
}

 /* Navbar container style */
 header{
    background: linear-gradient(
        to bottom, 
        #FAFAFA, 
        #FCFCFC
      );
      padding: 25px 0;
 }
 .navbar {
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 35px; 
}
.logo{
    margin-left: 100px;
   font-weight: 900;
    display: flex;
    align-items: center; 
}
.logospan{
    background-color: #39DB4A;
    color: white;
    padding: 5px;
    border-radius: 8px;
    
}
/* List container */
.list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none; 
}

.list ul {
    display: flex; 
    padding: 0;
    margin: 0;
    list-style: none; 
}

.list li {
    display: flex; 
    align-items: center; 
    margin: 0 10px; 
    font-weight: 600;
    
}

.list li a {
    text-decoration: none;
    color: black; 
    font-size: 18px; 
}

.list .dropdown {
    display: flex; 
    align-items: center; 
    
}

.list .dropdown i {
    margin-left: 15px; 
    font-size: 12px; 
}


/* Right side of the navbar */
.navbar1 {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    margin-right:90px ;
}
.svg-container {
    position: relative; 
    display: inline-block; 
}

.moving-number {
    position: absolute;  
    top: -10px; 
    left: 50%;
    margin-left: 18px;
    transform: translateX(-50%); 
    border: 2px solid #39DB4A; 
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 12px; 
    color: white; 
    background-color: #39DB4A; 
    text-align: center;
}

/* Style for icons and SVGs */
.navbar1 i, .navbar1 svg {
    margin-left: 15px; 
   
}
.contact-button {
    background-color: #39DB4A;
    color: white;
    border: none;
    border-radius: 30px; 
    padding: 10px 5px;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 16px; 
    cursor: pointer; 
    margin-left: 15px;
    
}

.contact-button i {
   margin-right: 15px;
    font-size: 18px; 
}
.contact-button>h3{
    margin-right: 10px;
}




/* Banner section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 90px 20px ;
    
}

.banner-left, .banner-right {
    display: flex;
    flex-direction: column;
    
}
.banner-left {
    margin-left: 100px;   
}
.banner-text{
    
    margin-left: 30px;
}

.banner-text > h1 {
    font-size: 34px;
    font-weight: 900;
    line-height: 2.5rem;
    
}
.banner-left p {
    font-size: 16px;
    color: #4A4A4A;
    margin-top: 20px;
    line-height: 1.2rem;
}
span{
    color: #39DB4A;
}
.banner-video {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;
}
.banner-video p {
    margin: 0;
    font-weight: 600;
    font-size: 16px; 
    color: #4D4D4D;
     
}
.order-now-button {
    background-color: #39DB4A; 
    color: white; 
    border: none; 
    border-radius: 25px;
    box-shadow: -2px 22px 38px 0px rgba(142, 255, 154, 0.5);
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center; 
    display: inline-block; 
}
.icon-style {
    background-color: white;
    border: 2px solid #39DB4A; 
    border-radius: 50%;
    box-shadow: -2px 22px 38px 0px rgba(142, 255, 154, 0.5); 
    padding: 10px 13px; 
    font-size: 24px; 
    color: #39DB4A; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
}

/* banner right */

.banner-right svg {
     margin-top: 10px;
     margin-right: 100px;
     width: 600px;
     height: 500px;
   
}

/* banner box */

/* Card Container */
.box-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 250px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 7px 35px 51px 0px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    padding: 0px 0;
    right: 480px;
    margin-top: 220px;
    box-sizing: border-box;
    cursor: move;
    position: absolute;
    z-index: 1000; 
}
.box-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 250px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 7px 35px 51px 0px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    padding: 0px 0;
    right: 200px;
    margin-top: 220px;
    box-sizing: border-box;
    cursor: move;
    position: absolute;
    z-index: 1000; 
}

/* Image Container */
.img-box {
    flex-shrink: 0;
    width: 40%;
     
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    padding: 10px;
    max-width: 100%;
    border-radius: 25px;
}

/* Text Container */
.text-box {
    flex-grow: 1;
    padding-left: 20px;
}

.text-box h4 {
    margin: 0 0 5px;
    font-size: .85rem;
    color: #333;
}

.box-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.box-rating i {
    color: gold;
    margin-right: 4px;
}

.box-rating i.empty {
    color: #ddd; 
}

.text-box p {
    margin: 0;
    font-size: 1.2rem;
    color: #555;
}
/* Popular Catagories */
.first-card{
    margin-top: 50px;
    padding: 60px 25px;
}
.card-header {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.card-header h1 {
    font-size: 2rem;
    font-weight: 900;
    padding: 10px 0;
    margin-bottom: 15px;
    
}
.card-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;         
    gap: 20px;                
    padding: 15px 120px; 
}

.card-popular {
    background-color: #fff;
    border: .1px solid white;  
    border-radius: 25px;       
    box-shadow: 0 2px 5px rgba(0.1,0,0.1,0.3); 
    padding: 15px;           
    text-align: center;       
    width: 23%; 
}

.card-popular svg {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: 25px;
    margin-bottom: 10px;
    background-color: #C1F1C6;    
    border-radius: 50%;
}
.card-popular h4 {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #1E1E1E;
}

.card-popular p {
    margin: 0;
    color: #555555;
}


/* Standout Dishes From Our Menu */
.standOut{
    padding: 20px 150px;
}
.stand-h2{
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 900;
}
.stand-svg {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 780px;
    position: relative;
    top: -60px; 
    gap: 25px; 
    
}

.icon-left {
    position: relative;
    color: rgb(5, 5, 5);
    font-size: 16px;
     display: flex;
        justify-content: center; 
        align-items: center; 
        width: 50px; 
        height: 50px; 
        border-radius: 50%; 
        background-color: #efefeff2; 
        color: #6F6E6E;
        font-size: 20px; 
        text-align: center;
    }
.icon-right {
    position: relative;

    font-size: 16px;
     display: flex;
        justify-content: center; 
        align-items: center; 
        width: 50px; 
        height: 50px; 
        border-radius: 50%; 
        background-color: #39DB4A; 
        color: white;
        font-size: 20px; 
        text-align: center;
    }


/* last rating part */
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
   
}

.card {
    position: relative;
    width: calc(33.333% - 20px); 
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align:start;
    box-sizing: border-box;
}

.card-front {
    width: 100%;
    position: relative;
}
.card-front img {
   width: 180px;
   height: 180px;
   margin-top: 30px;
   margin-left: 66px;
  
    border-radius: 50%; 
    display: block;
}

.card-inside {
    padding: 15px;
    margin-left: 15px;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 230px;
    margin-top: -15px;
    position: relative;
}
.rating-h5{
    margin-left: 29px;
    font-size: 1rem;
    margin-top: -8px;
}
.rating-value{
    font-size: 1rem;
    font-weight: bold;
}
.stars i {
    color: gold;
    margin-right: 2px;
}

/* leaf section */
.leaf {
    position: relative;    
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 60px;            
    height: 75px; 
    margin-left: 255px;
    margin-top: -323px;
             
}
.leaf1 {
    position: relative;    
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 60px;            
    height: 70px; 
    margin-left: 944px;
    margin-top: -340px;
             
}

.love-icon {
    position: absolute;     
    display: flex;          
    justify-content: center; 
    align-items: center;    
    font-size: 24px;        
    color: white;           
}
/* TEstimonial section style */
.testimonial{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 180px;
    margin-top: 30px;
}
.left-testimonial{
    background-image: url('../image/Rectangle\ 37.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 130px;
    width:280px ;
    padding: 0 ;
}
.left-testimonial img{
    position: relative;
    top:-104px;
    width: 300px;
    height:310px ;
}
.rectangle{
    position: relative;
    top:270px;
    left:-270px;
   
}
 /* Using Relative Positioning */
 .relative-example h4 {
    position: relative;
    top: 325px;
    left: -630px;
    font-size: 24px;
    width: 150px;
    color: #202020;
}
.right-testimonial{
   margin-top: 120px; 
   margin-left: -500px;
}
.right-testimonial h3{
   margin-top: -80px; 
   
}
.testi-h1{
    font-size: 32px;
    font-weight: bold;
    padding: 15px 0;
    
    
}
.testi-p{
    color: #555555;
    line-height: 1.3rem;
}
.double-text h5{
    margin-left: 150px;
    margin-top: -50px;
    font-size: 18px;
}
.group-img img{
    margin-top: 50px;
    width: 120px;
}

.double-rate{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: -80px;
}
.review{
    margin-top: -15px;
    margin-right: 35px;
    color: #807E7E;
}


/* Our Culinary Journey And Services */


.flex-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 90px;
    margin-top: -40px;
    margin-bottom: 40px;
    
   
}
.left-story{
    color: #FF6868;
    font-weight: 600;
}
.left-storyp{
    line-height: 1.5rem;
    color: #555555;
}
.left-side {
    flex: 1;
    margin-top: 180px;
    margin-left: 50px;
    padding: 20px;
   
}
.left-side h1 {
    font-size: 32px;
    font-weight: bold;
}
.right-side {
    flex: 1;
    margin-top: 100px;
    margin-right: 50px;
    padding: 20px;
   
}
.story-button {
    background-color: #39DB4A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.story-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
   
}

.story-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 20px;
    text-align: center;
}


.story-card h2 {
    margin: 15px 0;
    font-size: 18px;
    color: #5FE26C;
}

.story-card p {
    color: #90BD95;
}

/* footer get started part */
.footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.nav-link {
    text-decoration: none;
    font-size: 14px;
    color: #555555;
}

.footer-section {
    padding: 60px 70px 0 110px;
   
}
.logo1{
    position: relative;
   font-weight: 900;
    display: flex;
    align-items: center; 
}

.hr-p {
   margin-right: 430px;
   margin-top: -12px;
    color: #555555;
}

/* footer started style */
.started {
    display: flex;
}
.footer-info{
    margin-left: 50px;
}
.footer-info>h1{
    color: #FFFFFF;
    margin-top: 12px;  
}
.footer-info>p{
    margin-top: 30px;
    line-height: 1.5rem;
    color: #555555;
}

.options {
    display: flex;
    list-style-type: none;
    font-weight: 20px;
    font-size: 23px;
    margin-right: 90px;
    gap: 3rem;
}

.footer-links {
    margin-top: px;
    display: flex;
    
}

.get-started {
    margin-top: -25px;
    margin-bottom: 30px;
    padding: 0  40px;
   
}

.h5-footer {
    margin-left:-20px ;
    padding: 20px;
    font-size: 1.5em;
    color:#000000;
}

.options .link {
    list-style-type: none;
    padding: px 0;
    margin: 0;
}

/* footer hr style */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 1200px;
    padding:  30px 0; 
    margin-top: -10px;
}


/* Social Media Icons */
.footer-social {
    flex-shrink: 0;
    color: none;
   margin-left: 40px;
}


.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px; 
    height: 35px; 
    background-color: #39DB4A; 
    border-radius: 50%;
    margin-bottom: 10px; 
}
.other-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px; 
    height: 35px; 
    background-color: #c3eec7; 
    border-radius: 50%; 
    margin-bottom: 10px; 
}

.icon-container i {
    color: white; 
    font-size: 16px; 
}

.footer-social {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    padding: 10px; 
}






